.app {
  margin: 0 auto;
  max-width: 650px;
  padding-left: 16px;
  padding-right: 16px;
}
.app::before {
  background: #eaeaef;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
.app__header {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1;
  position: relative;
}
.app__logo {
  font-family: "vampiro one";
  font-size: 32px;
  letter-spacing: -2px;
  color: #8656ef; /*#2fd365*/
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes subtlePulse {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: translateY(1);
  }
}
@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgb(0 0 0 / 5%);
  padding: 20px 16px 16px;
  animation: slideIn 0.8s cubic-bezier(1, 0, 0, 1);
  margin-bottom: 24px;
}
.new-task {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
}
.new-task__button:first-child {
  background: #ece8f5;
  border-color: transparent;
  color: #8656ef;
}
.new-task__button {
  color: #fff;
  font-weight: 600;
  background: #8656ef;
  height: 38px;
  border: 1px solid;
  margin-left: 8px;
  padding: 3px 20px 1px;
  border-radius: 24px;
  font-size: 13px;
}
.new-task__button:active {
  animation: subtlePulse 0.3s cubic-bezier(0.5, 0, 0, 0.05);
}
.new-task__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.new-task__text-input {
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}
.new-task__text-input:first-child {
  font-size: 16px;
  margin-bottom: 16px;
}
.new-task__text-input:focus {
  outline: none;
}
.new-task__text-input::placeholder,
.new-task__date-input::placeholder {
  color: #aaa;
}
.new-task__date-input {
  background: transparent;
  border: none;
  font-size: 14px;
  padding: 7px 0 8px;
  border-radius: 20px;
  position: relative;
  max-width: 140px;
}
.new-task__date-input:focus {
  outline: none;
}
.new-task__date-input::before {
  content: "";
  background: url("../../icon--calendar.svg") no-repeat transparent;
  background-size: contain;
  display: block;
  position: absolute;
  right: 5px;
  margin-top: -2px;
  height: 11px;
  width: 15px;
}
.new-task__date-input::-webkit-inner-spin-button,
.new-task__date-input::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  opacity: 0;
}
.todo-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgb(0 0 0 / 5%);
  padding: 16px 16px 16px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  color: currentColor;
  align-items: flex-start;
  -webkit-tap-highlight-color: transparent;
  animation: slideIn 0.8s cubic-bezier(1, 0, 0, 1);
}
.todo-item p {
  margin-top: 2px;
  margin-bottom: 0;
  line-height: 20px;
}
.todo-item button {
  background: transparent;
  border: none;
  padding-right: 0;
}
.todo-item button img {
  position: relative;
  top: 3px;
}
.todo-item div:nth-child(2) {
  width: -webkit-fill-available;
}
.collapsed {
  display: none;
  padding-top: 8px;
  animation: slideInUp 0.4s cubic-bezier(0.5, 0, 0, 0.5);
}
.collapsed img {
  margin-right: 8px;
}
.expand {
  display: block !important;
}
.collapsed div:first-child small {
  line-height: 30px;
}
.collapsed div small {
  font-size: 14px;
}
.footer__text {
  color: rgba(0 0 0 / 30%);
  font-size: 13px;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
}
p.title {
  color: #fff;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 16px;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  z-index: 0;
  background: rgb(82 169 76);
  padding: 7px 12px 5px;
  border-radius: 22px;
}

@media (max-width: 450px) {
  .new-task__button {
    font-size: 13.5px;
  }
  .new-task__date-input::before {
    content: unset;
  }
  .todo-item p {
    line-height: 24px;
  }
}
.emptystate {
  text-align: center;
}
.emptystate svg {
  height: 100px;
  margin-top: 25px;
}
.emptystate .sun {
  animation: rotating 20s linear infinite;
  transform-origin: center;
  transform: rotate(0deg);
  transform-box: fill-box;
}
